@media (max-width: 768px) {
    .container{
        width: 90%;
    }
    .header__text ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3px 0;
    }
    .header__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
    }
    .header__nubmer{
        display: flex;
        column-gap: 15px;
        font-size: 15px;
    }
    .new__season{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .new__season__left{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .new__season__left::before{
        bottom: 180px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    
    .right__first{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .right__second{
        position: absolute;
        right: 5%;
    }
    .right__third{
        position: absolute;
        left: 5%;
    }
    .new__colection h2{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    
    .mini__section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .settings__box{
        display: flex;
        flex-direction: column;
    }
    .settings__main {
        text-align: center;
    }
    
    .comand__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__top{
        display: flex;
        justify-content: space-around;
    }
    .footer__top ul{
        display: flex;
        flex-direction: column;
    }
    .footer__bottom{
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header__text{
        display: flex;
        column-gap: 15px;
    }
    .header__nubmer{
        display: flex;
        column-gap: 7px;
    }
    .new__season{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .new__colection h2{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    
    .mini__section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .settings__box{
        display: flex;
        flex-direction: column;
    }
    .settings__main {
        text-align: center;
    }
    
    .comand__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__top{
        display: flex;
        justify-content: space-around;
    }
    .footer__top ul{
        display: flex;
        flex-direction: column;
    }
    .footer__bottom{
        display: flex;
        justify-content: space-around;
    }
}

